<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>922869867568-181cuvhimi44adio7ie1anp5u3u8ndfa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.922869867568-181cuvhimi44adio7ie1anp5u3u8ndfa</string>
	<key>API_KEY</key>
	<string>AIzaSyDzc4HIxDc2lnM-GHqGvq675Yv-gcNwhoc</string>
	<key>GCM_SENDER_ID</key>
	<string>922869867568</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.moviesApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>movies-app-7310e</string>
	<key>STORAGE_BUCKET</key>
	<string>movies-app-7310e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:922869867568:ios:9f3300f043c84e0debf9f5</string>
</dict>
</plist>